	<center>
<h2>Sign up</h2>

<%= form_for(resource, :as => resource_name, :url => registration_path(resource_name)) do |f| %>
  <%= devise_error_messages! %>
<div><%= f.label :Nombre_de_usuario %><br />
  <%= f.text_field :nombre, placeholder: "Nombre de usuario"  %></div>

<div><%= f.label :Apellidos %><br />
  <%= f.text_field :apellidos, placeholder: "Apellidos"  %></div>
  <div><%= f.label :Correo %><br />
  <%= f.email_field :email, :autofocus => true, class: 'input-small', placeholder:"Correo"  %></div>

  <div><%= f.label :Contrase単a %><br />
  <%= f.password_field :password, placeholder:"Contrase単a" %></div>

  <div><%= f.label :Confirmar_contrase単a %><br />
  <%= f.password_field :password_confirmation, placeholder:"Contrase単a" %></div><br />

  <div><%= f.submit "Sign up", :class => 'btn' %></div>
<% end %>

<%= render "devise/shared/links" %>
</center>