<%- model_class = Post -%>

<div class="page-header">
<table>
  <tr>
    <th><h1> Lista de post</h1></th>
    <th></th>
    <th></th>
    <th></th>
    <th></th>
    </th>
    
</table>
  
</div>
<table class="table table-condensed">
  <thead>
    <tr>
      <th><%= model_class.human_attribute_name('#') %></th>
      <th><%= model_class.human_attribute_name(:Titulo) %></th>
      <th><%= model_class.human_attribute_name(:Comentario) %></th>
      <th><%= model_class.human_attribute_name(:Usuario) %></th>
      
    </tr>
  </thead>
  <tbody>
  <tr>
    <% @posts.each do |post| %>

     
      
        <td><%= link_to post.id, post_path(post) %></td>
        <td><%= post.titulo %></td>
        <td><%= post.comentario %></td>
        <td><%=  post.user.nombre %></td>
        <td><%= link_to 'Dejar un comentario', comments_path %></td>
        
        
     
       
        
      </tr>

    <% end %>
  </tbody>
</table>


