<center>
<% if @post.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@post.errors.count, "error") %> No debe estar vacíos los campos!!:</h2>

      <ul>
      <% @post.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>


<%= form_for @post, :html => { :class => 'form-horizontal' } do |f| %>

  <div class="control-group">
    <%= f.label :titulo, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :titulo, :class => 'text_field' %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :comentario, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :comentario, :class => 'text_field' %>
    </div>
  </div>
  <div class="field">
    <%= f.label :Escoge_tu_nombre_de_usuario %><br>
    <%= f.collection_select :user_id, User.all, :id, :nombre %>
  </div>

  <div class="form-actions">
    <%= f.submit nil, :class => 'btn btn-primary' %>
    <%= link_to t('.cancel', :default => t("helpers.links.cancel")),
                root_path, :class => 'btn' %>
  </div>
<% end %>
</center>